
* {
    margin: 0;
    padding: 0;
}

.app {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    width: calc(64px * 8);
    height: calc(64px * 8);
    display: flex;
    flex-wrap: wrap;
}

.board-title {
    margin-bottom: 20px;
}

.cell {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell img {
    width: 48px;
    height: 48px;
    position: relative;
    cursor: pointer;
}

.dark {
    background-color: #472e22;
}
.light {
    background-color: #c09b82;
}
.selected {
    background-color: #cc7a50;
}

.available {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #176565;
}

.availableFigure {
    background-color: #769a8c;
}

.lost-container {
    margin-left: 40px;
}

.lost {
    height: calc(48px * 4);
    width: calc(48px * 4);
    padding: 30px;
    margin: 0 20px;
    background-color: #d4d7e3;
}

.lost__icon {
    width: 20px;
    height: 20px;
}